-- SQL to reset local_aiquestiongen plugin version
-- Run this in your Moodle database if the version update doesn't work

UPDATE mdl_config_plugins 
SET value = '2025102400' 
WHERE plugin = 'local_aiquestiongen' AND name = 'version';

-- Alternative: Delete the version record to force reinstall
-- DELETE FROM mdl_config_plugins WHERE plugin = 'local_aiquestiongen' AND name = 'version';
